<div class="profile-container">

    <div class="card">
        <p class="card__name">{{member?.knownAs}}</p>
        <img src="{{member?.photoUrl}}" alt="{{member?.knownAs}}" class="card__image">

        <div class="grid-container">
            <div class="grid-child-location">
                <strong>Location: </strong>
                <p>{{member?.city}}, {{member?.country}}</p>
            </div>

            <div class="grid-child-age">
                <strong>Age: </strong>
                <p>{{member?.age}}</p>
            </div>
            <div class="grid-child-lastActive">
                <strong>Last active: </strong>
                <p>{{member?.lastActive | date:'dd-MM-yyyy'}}</p>
            </div>
            <div class="grid-child-memberSince">
                <strong>Member since: </strong>
                <p>{{member?.created | date:'dd-MM-yyyy'}}</p>
            </div>
        </div>

        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>

        <div class="btn-container">
            <button class="btn draw-border" routerLink="/members/{{member?.userName}}">Details</button>
            <button class="btn draw-border">Message</button>
        </div>
    </div>

    <mat-tab-group class="tabs-container" [color]="'primary'" [backgroundColor]="'accent'">
        <mat-tab label="Description" aria-label="primary">
            <p>{{member?.introduction}}</p>
        </mat-tab>
        <mat-tab label="Interests">
            <p>{{member?.interests}}</p>
        </mat-tab>
        <mat-tab label="Photos">
            <p>Photos will go here</p>
        </mat-tab>
        <mat-tab label="Messages" aria-label="primary">
            <p>Messages will go here</p>
        </mat-tab>
    </mat-tab-group>

</div>