.tab-group {
  margin: 1rem;

  .table {
    margin: 1rem 0 0 0;

    .mat-column-content {
      display: flex;
      flex: 0 0 40%;
    }

    .mat-column-senderUsername {
      display: flex;
      gap: 1rem;
    }

    .mat-column-messageSent {
      display: flex;
    }

    .mat-column-actions {
      display: flex;
      gap: 1rem;
      flex: 0 0 15%;
    }

    .user-img {
      cursor: pointer;
      padding: 4px 0 4px 0;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }

  .table-with-no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 30rem;

    .icon {
      transform: scale(2);
    }
  }

}

.paginator-bar {
  margin: 1rem;
}

mat-paginator {
  background-color: #222222;
}

@media only screen and (max-width: 900px) and (orientation:portrait) {

  mat-header-row,
  mat-row {
    width: 160%;
  }
}

@media only screen and (max-width: 800px) and (orientation:portrait) {
  .tab-group {

    .table {
      margin: 1rem 0 0 0;

      .mat-column-content {
        flex: 0 0 25%;
      }

      .mat-column-senderUsername {
        flex: 0 0 20%;
      }

      .mat-column-messageSent {
        flex: 0 0 20%;
      }

      .mat-column-actions {
        flex-grow: 1;
      }
    }
  }
}