<mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.userName}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="knownAs">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Known As
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.knownAs}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Email
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.email}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Roles
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.roles}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"></mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Options</button>

            <mat-menu #menu="matMenu" class="user-menu">
                <button mat-menu-item routerLink="/members/{{user.userName}}">
                    <mat-icon aria-hidden="false" class="mat-menu-item">person</mat-icon>
                    <span class="mat-menu-item">View</span>
                </button>
                <button mat-menu-item (click)="openDialogRoles(user)">
                    <mat-icon aria-hidden="false" class="mat-menu-item">edit</mat-icon>
                    <span class="mat-menu-item">Roles</span>
                </button>
                <button mat-menu-item (click)="openDialogUsers(user)">
                    <mat-icon aria-hidden="false" class="mat-menu-item">edit</mat-icon>
                    <span class="mat-menu-item">User</span>
                </button>
            </mat-menu>

            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu2">More options</button>
            <mat-menu #menu2="matMenu" class="user-menu">
                <button mat-menu-item (click)="lockMember(user.id, user.userName)">
                    <mat-icon aria-hidden="false" class="mat-menu-item">enhanced_encryption</mat-icon>
                    <span class="mat-menu-item">Ban</span>
                </button>
                <button mat-menu-item (click)="unlockMember(user.id, user.userName)">
                    <mat-icon aria-hidden="false" class="mat-menu-item">no_encryption</mat-icon>
                    <span class="mat-menu-item">Unban</span>
                </button>
            </mat-menu>
            <button mat-raised-button color="warn" (click)="deleteMember(user.id, user.userName)">Delete</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>