<mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Name
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.userName}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"> Roles
        </mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            {{user.roles}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef [style.background-color]="backgroundColorHeader"></mat-header-cell>
        <mat-cell *matCellDef="let user" [style.background-color]="backgroundColorRow">
            <button mat-raised-button color="accent" (click)="openDialog(user)">Edit</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>