<div class="card">
    <div class="card-body msg_card_body" #scrollMe style="overflow: scroll;"
        *ngIf="this.messageService.errorMessageBot">
        <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
                <img src="./assets/user.png" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer">
                {{this.messageService.errorMessageBot}}
                <span class="msg_time">Bot</span>
            </div>
        </div>
    </div>

    <div class="card-body msg_card_body" #scrollMe style="overflow: scroll;">
        <div *ngFor="let message of (messageService.messageThread$ | async); let last = last">
            <div *ngIf="message.recipientUsername !== username" class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    {{message.content}}
                    <span *ngIf="last && message.dateRead && message.recipientUsername === username" class="">
                        Seen
                    </span>
                </div>
            </div>
            <div *ngIf="message.recipientUsername === username" class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                    {{message.content}}
                    <span *ngIf="last && message.dateRead && message.recipientUsername === username"
                        class="msg_time_send">
                        Seen
                    </span>
                </div>
                <div class="img_cont_msg">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" class="rounded-circle user_img_msg">
                </div>
            </div>
        </div>
    </div>
    <form class="card-footer" #messageForm="ngForm" (ngSubmit)="sendMessage()">
        <div class="input-group">
            <input name="messageContent" [(ngModel)]="messageContent" required class="form-control type_msg"
                placeholder="Type your message...">
            <button class="send-button" [disabled]="!messageForm.valid || loading" mat-raised-button color="accent">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</div>