<div class="card" #scrollMe style="overflow: scroll; height: 80vh;">
    <div class="card-body msg_card_body">
        <div *ngFor="let message of (messageService.messageThread$ | async); let last = last">
            <div *ngIf="message.recipientUsername !== username" class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    {{message.content}}
                    <span *ngIf="last && message.dateRead && message.recipientUsername === username" class="">
                        Seen
                    </span>
                </div>
            </div>
            <div *ngIf="message.recipientUsername === username" class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send">
                    {{message.content}}
                    <span *ngIf="last && message.dateRead && message.recipientUsername === username"
                        class="msg_time_send">
                        Seen
                    </span>
                </div>
                <div class="img_cont_msg">
                    <img src="{{message.senderPhotoUrl || './assets/user.png'}}" class="rounded-circle user_img_msg">
                </div>
            </div>
        </div>
        <form class="card-footer" #messageForm="ngForm" (ngSubmit)="sendMessage()">
            <div class="input-group">
                <textarea name="messageContent" [(ngModel)]="messageContent" required rows="2"
                    class="form-control type_msg" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                    <button class="send-button" [disabled]="!messageForm.valid" mat-raised-button color="accent">Send
                        message</button>
                </div>
            </div>
        </form>
    </div>
</div>