<div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form">
        <h1 class="text-center form-title">Change Password</h1>

        <div class="mb-3">
            <input type="password" [class.is-invalid]="checkClassInvalid('password', submitted)" class="form-control"
                formControlName="password" placeholder="password">
            <div class="invalid-feedback">{{getErrorsMessagePassword()}}</div>
        </div>
        <div class="mb-3">
            <input type="password" [class.is-invalid]="checkClassInvalid('confirmPassword', submitted)"
                class="form-control" formControlName="confirmPassword" placeholder="confirm password">
            <div class="invalid-feedback">{{getErrorsMessageConfirmPassword()}}</div>
        </div>
        <div class="text-center">
            <button mat-raised-button color="accent" type="submit">Submit</button>
        </div>
    </form>
</div>