.tab-group {
    margin: 1rem;

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1rem 0 1rem 0;
        gap: 1rem;
    }
}

@media(max-width: 61.875rem) {
.tab-group {

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
}