<div class="card" *ngIf="member" [style.height.rem]="ellementOffOnLists ? '30' : '37'">
    <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card__image">

    <div class="user-name-container">
        <mat-icon class="user-icon"
            [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
            person
        </mat-icon>
        <p class="card__name">{{member.knownAs}}</p>
    </div>

    <div class="grid-container">
        <div class="grid-child-city">
            City: {{member.city}}
        </div>

        <div class="grid-child-age">
            Age: {{member.age}}
        </div>
    </div>

    <button class="btn draw-border" routerLink="/members/{{member.userName}}">Details</button>
    <button class="btn draw-border" routerLink="/members/{{member.userName}}" [queryParams]="{tab: 'Messages'}">
        Message
    </button>

    <button class="button-like" (click)="addLike(member)">
        <p class="button-like-text gradient-text">Like</p>
    </button>
</div>