.container-home {
    min-height: calc(100vh - 56px);
    background: linear-gradient(45deg,
            #ff000055,
            #40124d4d,
            #944d9d64,
            #95218469,
            #b1253f62,
            #88211d42,
            #7b00ff4a,
            #ff00c84c,
            #ff000054);
    background-size: 200% 200%;
    animation: gradientTransition 3s linear infinite alternate;
}

@keyframes gradientTransition {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.container-elem {
    display: flex;
    justify-content: center;
    padding-top: 30vh;
    margin-bottom: 1rem;
}

.btn {
    padding: 1.4rem;
    font-size: 1.4rem;
}

//REGISTER
.register-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}