.container-home {
    min-height: calc(100vh - 56px);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(123, 12, 12, 0.4)), url('/assets/home.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    position: relative
}

.container-elem {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    width: 40rem;
    position: absolute;
    top: 30%;
    left: 5%;
}

/* Titluri */
h1 {
    font-size: 2.5rem;
    color: #eee;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.headers {
    margin-bottom: 1rem;
    animation: fadeFromTop 1.5s;
}

/* Paragrafe */
.paraghraphs {
    font-size: 1.2rem;
    color: #c6c6c6;
    line-height: 1.1;
    margin-bottom: 2rem;
    animation: fadeIn 1.5s;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1.4rem;
    font-size: 1.4rem;
    animation: fadeFromBottom 1.5s;
}

@keyframes fadeFromBottom {
    from {
        opacity: 0;
        transform: translate(0, 600px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeFromTop {
    from {
        opacity: 0;
        transform: translate(0, -600px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

//RESPONSIVE
@media(max-width: 61.875rem) {
    .container-elem {
        width: fit-content;
    }

    h1 {
        font-size: 1.8rem;
        color: #eee;
    }

    .paraghraphs {
        font-size: 1rem;
    }
}