.navbar {
    min-height: 56px;
    background: linear-gradient(to right, rgba(61, 9, 30, 0), #5c0433ca, rgba(61, 9, 30, 0));

    .brand-name {
        .brand-name-hub {
            background-color: #880E4F;
            padding: 3px;
        }
    }
}

.user-photo {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    border: 1px solid #e91c6ef1;
    cursor: pointer;
}