<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" (click)="closeNavbar()">DatingHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto" *ngIf="accountService.currentUser$| async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active" (click)="closeNavbar()">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active" (click)="closeNavbar()">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active" (click)="closeNavbar()">Messages</a>
        </li>
        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active" (click)="closeNavbar()">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto" *ngIf="!(accountService.currentUser$ | async)">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" (click)="closeNavbar()">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="closeNavbar()">Login</a>
        </li>
      </ul>

      <div *ngIf="(accountService.currentUser$| async) as user" class="user-icon" [matMenuTriggerFor]="menu">
        <img src="{{user?.photo || './assets/user.png'}}" alt="user photo" class="user-photo">
      </div>
      <mat-menu #menu="matMenu" class="user-menu">
        <button mat-menu-item routerLink="/member/edit">
          <mat-icon aria-hidden="false" class="mat-menu-item">edit</mat-icon>
          <span class="mat-menu-item">Edit</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon aria-hidden="false" class="mat-menu-item">logout</mat-icon>
          <span class="mat-menu-item">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>