.form {
    height: fit-content;
    width: 15rem;

    .form-title {
        font-size: 2rem;
        color: #c61071;
    }

    .btn-register {
        color: #c61071;
        border-color: #c61071;
    }

    .btn-register:hover {
        background-color: #c61071;
        color: #fff;
    }
}

.is-invalid {
    border: 3px solid red;
}