//REGISTER
.register-container {
    padding: 0 0 0 10%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(123, 12, 12, 0.4)), url('/assets/home.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: flex-start;
}

.form {
    margin: 2rem 0 2rem 0;
    height: fit-content;
    width: 18rem;
    animation: fadeFromLeft 1.5s;

    .form-control {
        font-size: 1.2rem;
    }

    .form-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #a41260;
    }
}

input {
    border: 3px solid RGBA(0, 0, 0, 0);
}

.is-invalid {
    border: 3px solid red;
}

.invalid-feedback {
    font-size: 1rem;
}

@keyframes fadeFromLeft {
    from {
        opacity: 0;
        transform: translate(-600px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@media(max-width: 61.875rem) {
    .register-container {
        padding: 0;
        justify-content: center;
    }
}